body{
    background-color: antiquewhite;
    color:black;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.centered{
    text-align: center;
    padding: 0px;
    list-style-position: inside;
}

.nav{
    text-decoration: none;
    color:olivedrab;
    font-family: 'Segoe UI', sans-serif;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.top-nav {
    display: flex;
    justify-content: flex-end; /* Aligns to the right */
    gap: 20px;
    padding: 20px 40px;
    background-color: #003366; /* Optional: nav background */
}

.header-section {
    text-align: center;
    background-color:bisque;
    padding: 20px;
}

.scripture-content {
    padding: 30px;
    background-color: #ffffff;
    font-family: 'Georgia', serif;
    line-height: 1.6;
}

.scripture-content ol, .scripture-content ul {
    margin-bottom: 20px;
}